 body{
    font-family: 'Crafty Girls', cursive;
    background-color: rgb(164, 207, 213);
    margin: 0;
    padding: 0;

}
/* Container için stil */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eed9ec;
    border: 1px solid #eed9ec;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
} 

/* Başlıklar için stil */
h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #424242;
    display: inline-block; 
    margin-right: 20px;
    text-decoration: none;
}

/* Paragraflar için stil */
p {
    font-size: 16px;
    color: #444;
}

a{
    color: #424242;
}